body {
font-family: 'Montserrat', sans-serif;

}


header{
	background: #BBBBBB;
}
.caixa{
	position: relative;
	width: 1300px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;

	text-decoration: none;

}
img{
width: 20%;
	
}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 20%;
	vertical-align: top;
	padding: 50px 0;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.produtos li:hover {
	border-color: #ff6961;

}
.produtos li:active {
	border-color: #088C19;
}
.produtos li:hover h2{
	font-size: 40px;
}

#inox {
	width: 100%;
}

#mig {
	width: 100%;
}

#pesadas {
	width: 100%;
}

#geral {
	width: 100%;
}


.produtos{
	width: 940px;
	margin: 0 auto;
}
.produtos h2{
	font-size: 30px;
	font-weight: bold;
}
p{font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
nav a:hover {
	color: #ff6961 ;
	text-decoration: underline;
}
footer{
	text-align: center;
	background: url(fundinho.jfif);
	padding: 100px 0;
}
.copy{
	font-size: 15px;
	color: #FFFFFF;
	margin: 20px 0 0;
}
main{
width: 940px;
margin: 0 auto;
}
form{
	margin: 40px 0;
}
form label, form legend {
	display: block;
	font-size: 25px;
	margin: 0 0 10px;
}
input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;

}
.checkbox{

	margin: 20px 0 ;
}
#enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s  all;
	cursor: pointer;
}

#enviar:hover {
	background: darkorange;
	transform: scale(1.2);

}
table{
	margin: 20px 0 40px;
}
thead{
	background: #555555;
	color: white;
	font-weight: bold;
}
td,th {
	border: 1px solid #000000;
	padding: 8px 15px;
}
/* css da página inicial */ 
#solda2 {
	width: 100%;



}
#titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;

}

.principal {
    padding: 3em 0;
	background: #FEFEFE 	 ;

}


.principal p {
font-style: italic;
margin: 0 0 1em;
}

.principal strong {
		font-weight: bold
}

.principal em {
	font-style: italic ;
}

#utensilios {
float: left;
width: 120px;
margin: 0 20px 20px 0;
}
#conteudo-beneficios {
	width: 640px;
    margin: 0 auto;
}

#lista-beneficios {
 display: inline-block;
	width: 60%;
	vertical-align: top;
}




#projeto {
	width: 60%;
}
#mapa, #beneficios {
padding: 3em 0;
background: linear-gradient(#FEFEFE,#888888);

}
#mapa p {
 	width: 940px;
	margin: 0 auto;
}
#video {
 width: 560px;
 margin: 2em auto;


}
#beneficios {

	padding: 3em 0;
}
.itens:before  {
	content: "★";



}
.itens {
	line-height: 1.5;
}
.itens:nth-child(4) {

	font-weight: bold;
}
